*{
    margin: 0;
    padding: 0;
}

/* navbar start */
.nft{
    overflow: hidden;
    top: 0;
    position: fixed;
    width: 100%;
}
.logo{
    width: 50;
    height: 30px !important;
}

ul li{
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

ul li a{
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color: #f7b926 !important;
}

.login-btn{
    /* background-color: #f7b926; */
    /* border-style: solid; */
    border: 1px solid rgb(145, 49, 49);
    /* border-width: 2px; */
    padding: 8px;
    border-radius: 10px;
    color: #000000;
    transition: all 0.4s ease-in-out;
    background-color: #f7b926;
    text-decoration: none;
}
.login-btn:hover{
    background-color: #f7b926;
    color: #fff;
    border-color: #f7b926;
}
/* navbar end here */

/* carousel start here */
.crsl{
    width: 100% !important;
    height: 600px;
}

.main-crsl{
    padding-bottom: 50px;
}
/* carousel end here */

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    background-color: #f7b926;
    text-align: center;
}
.main-choose{
    text-align: center;
}

.btnn{
    border-style: solid;
    border-width: 2.5px;
    border-color: #f7b926;
    padding: 8px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f7b926;
    transition: all 0.4s ease-in-out;
    background-color: #fff;
}

.btnn:hover{
    background-color: #f7b926;
    color: #fff;
}

.rate{
    background-color: #f7b926;
    padding: 10px;
    /* align-items: center; */
    /* padding-left: 150px; */
    text-align: center;
    margin-bottom: 50px;
    border-radius: 50px;
    color: #fff;
}



.pcg-hd{
    color: #f7b926;
}

.btn-package{
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    padding: 8px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000000;
    transition: all 0.4s ease-in-out;
    background-color: #fff;
    text-decoration: none;
}
.btn-package:hover{
    background-color: #f7b926;
    color: #fff;
    border-color: #f7b926;
}

.main-cards{
    padding-bottom: 100px;
}

.videos{
    display: block;
    width: 50px;
    height: 650px;
    margin-bottom: 50px;
}

/* about section start here */
/* .main-about{
    margin-top: 100px;
} */

.about-main{
    width: 100%;
    height: 500px;
    background-color: #000000;
    margin-bottom: 50px;
}
/* .peregraph{
    width: 570px;
    height: 135px;
    background-color: azure;
} */

.about-main p{
    color: #f7b926;
    text-align: center;
    padding-top: 70px;
}
.enimation-1{
    margin-top: 100px;
    /* margin-left: 200px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
/* about section end here */

/* contect section start here */
.contect-main{
    background-color: #000000;
    display: inline;
    align-items: center;
    justify-content: center;
}

.head-office{
    color: black;
}
.c-number p{
    color: #fab005;
    /* float: left; */
}

.p-num{
    color: #fab005;
    transition: 0.4s ease-in-out;
}
.c-number u:hover{
    color: #000000;
}
/* contect section end here */

/* .main-footer{
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* align-items: center; */
    /* justify-content: center; */
    /* margin-top: 50px; */
    /* height: 300px; */
/* } */

/* .footer{ */
    /* margin: 0 auto; */
    /* background-color: #000000; */
    /* color: #fff; */
    /* padding: 50px; */
/* } */
/* .contect-footer a{ */
    /* color: #fab005; */
/* } */ 


.main-footer{
    background-color: #000000;
}

.cardd{
    color: white;
}

.footer-heading{
    color: #f7b926;
}
.text p{
    position: relative;
    top: 20px;
    left: 5.5px;
}
.c-source p{
    position: relative;
    left: 20px;
    top: 50p;
}
.logo-main{
    /* display: flex */
    /* text-align: center; */
    position: relative;
    left: 110px;
    top: 30px;
}
.footer-button{
    text-decoration: none;
    color: #fff;
    transition: all 0.4s ease-in-out;
}
.footer-button a:hover{
    color: #f7b926;
}